[user]
	email = paran1st@naver.com
	name = Kdh5378
[core]
	autocrlf = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
